:root {
    --fill-battery: red;
    --fill-storage: green;
    --fill-images: green;
}

hr {
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 160%;
    width: 60%;
    margin: 0;
    background: #61B4C6;
    border: none;
} 

#capture-btn { opacity: 1; }    

.battery-chart, .storage-chart {
    display: inline-block;
    top: 250px;
}

.ldBar path.mainline {
    fill: url(#gradient) #585858;
    stroke-width: 6;
    stroke-linecap: round;
}

.ldBar-label { visibility: hidden; }

.battery-chart { left: 50%; }

.battery-chart path.mainline { stroke: var(--fill-battery); }

.storage-chart { left: 55%; }

.storage-chart path.mainline { stroke: var(--fill-storage); }

.images-chart {
    left: 10px;
    top: 70%;
}

.images-chart path.mainline { stroke: var(--fill-images) } 

.images-box {
    position: absolute;
    width: 400px;
    height: 560px;
    left: 5%;
    top: 20%;
    
    /* Gradient */
    
    background: linear-gradient(157.89deg, #585858 2.85%, #272727 99.42%, #726F6F 99.43%);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}