hr {
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 160%;
    width: 60%;
    margin: 0;
    background: #61B4C6;
    border: none;
} 

#capture-btn {
    opacity: 1;
}

#container {
    margin: 20px;
    width: 200px;
    height: 200px;
  }