:root {
    --fill-battery: red;
    --fill-storage: green;
}

hr {
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 160%;
    width: 60%;
    margin: 0;
    background: #61B4C6;
    border: none;
} 

#capture-btn { opacity: 1; }

.ldBar {
    display: inline-block;
    top: 250px;
}

.ldBar path.mainline {
    fill: url(#gradient) #585858;
    stroke-width: 6;
    stroke-linecap: round;
}

.ldBar-label { visibility: hidden; }

.battery-chart { left: 50%; }

.battery-chart path.mainline { stroke: var(--fill-battery); }

.storage-chart { left: 55%; }

.storage-chart path.mainline { stroke: var(--fill-storage); }
