hr {
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 160%;
    width: 60%;
    margin: 0;
    background: #61B4C6;
    border: none;
} 

#processing-btn {
    opacity: 1;
}

#processing-box {
    position: absolute;
    width: 374px;
    height: 549px;
    left: 88px;
    top: 160px;

    background: linear-gradient(157.89deg, #585858 2.85%, #272727 99.42%, #726F6F 99.43%);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

#import-box {
    position: absolute;
    width: 819px;
    height: 110px;
    left: 533px;
    top: 160px;
    
    background: linear-gradient(157.89deg, #585858 2.85%, #272727 99.42%, #726F6F 99.43%);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

#stitch-layers-box {
    position: absolute;
    width: 815px;
    height: 280px;
    left: 533px;
    top: 295px;
    
    
    background: linear-gradient(157.89deg, #585858 2.85%, #272727 99.42%, #726F6F 99.43%);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

#export-box {
    position: absolute;
    width: 819px;
    height: 110px;
    left: 533px;
    top: 600px;
    
    background: linear-gradient(157.89deg, #585858 2.85%, #272727 99.42%, #726F6F 99.43%);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

#processing-start-button{
    border: 2px solid #05FF00;
    background-color: transparent; 
    box-sizing: border-box;
    filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;

    position: absolute;
    width: 145px;
    height: 79.03px;
    left: 113px;
    top: 346px;

    color: white;
    font-family: Quicksand;
    font-size: 24px;
    line-height: 30px;
}